# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/



# Environment variables
.env
.env.*

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Models / embeddings cache
models/
hf_cache/
.cache/
sentence_transformers/

# Logs
*.log

# Temporary files
tmp/
temp/



# Ollama / local LLM artifacts
ollama/